<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spc.mail.mapper.MailMessageMapper">
    <insert id="insert" parameterType="com.spc.mail.entity.MailMessage" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO mail_message
        (recipients, cc_recipients, bcc_recipients, subject, content, is_html, source, status)
        VALUES
        (#{recipients}, #{ccRecipients}, #{bccRecipients}, #{subject}, #{content}, #{html}, #{source}, #{status})
    </insert>

    <update id="markSent">
        UPDATE mail_message
        SET status = 'SENT', sent_at = #{sentAt}, error_message = NULL
        WHERE id = #{id}
    </update>

    <update id="markFailed">
        UPDATE mail_message
        SET status = 'FAILED', error_message = #{errorMessage}
        WHERE id = #{id}
    </update>
</mapper>
